<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	<context:annotation-config></context:annotation-config>
	<context:component-scan base-package="com.boa.springannotationlab.*"></context:component-scan>
	
	<!-- Java instance -->
	<bean id="customer" class="com.boa.springannotationlab.models.Customer">
	<!-- Dependency injection -->
	<!-- <property name="customerId" value="59695"></property>
	<property name="name" value="Ashok"></property>
	<property name="email" value="ashok@gmail.com"></property> -->
	<!-- <constructor-arg index="0" ref="transaction"></constructor-arg> -->
	
	</bean>
	<bean id="transaction1" class="com.boa.springannotationlab.models.Transaction">
	<property name="transactionId" value="973693569"></property>
	</bean>
	<bean id="transaction2" class="com.boa.springannotationlab.models.Transaction">
	<property name="transactionId" value="973693570"></property>
	</bean>
	
	</beans>